.footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-shadow: 0px 5px 10px 10px rgba(150, 150, 150, 0.1);
  z-index: 3;
}

.footer__text {
  margin-left: 40px;
  font-size: 1.4rem;
}
