.game {
  position: relative;
  grid-area: game;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.game__wrapper {
  position: relative;
  height: 400px;
  width: 400px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  background: rgba(10, 10, 10, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 50px 10px rgba(200, 200, 200, 0.1);
  transform: rotate(45deg);
  filter: none;
  transition: filter 0.5s;
}

.game__wrapper--disabled {
  filter: grayscale();
  pointer-events: none;
}

.game__lose-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.game__lose-screen--show {
  opacity: 1;
}

.game__lose-screen-title {
  font-size: 8rem;
  text-align: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(150, 150, 150, 0.8);
}


@media (max-width: 642px) {
  .game__wrapper {
    height: 200px;
    width: 200px;
    padding: 20px;
  }
}

@media (min-width: 643px) and (max-width: 897px) {
  .game__wrapper {
    height: 300px;
    width: 300px;
    padding: 30px;
  }
}
