.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  box-shadow: 0px -5px 10px 10px rgba(150, 150, 150, 0.1);
}

.header__title {
  font-size: 4.5rem;
}

.header__nav-list {
  font-size: 1.8rem;
  display: flex;
}

.header__nav-start-btn, .header__nav-ranking-btn {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 10px 15px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.header__nav-start-btn {
  margin-right: 40px;
  animation: scaleUpDown 3s infinite ease-in-out;
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 6px 0px rgba(255, 255, 255, 0.9);
  }
  100% {
    transform: scale(1);
  }
}

.header__nav-start-btn:hover, .header__nav-ranking-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 642px) {
  .header {
    padding: 0px;
    justify-content: center;
  }

  .header__title {
    font-size: 3rem;
  }
}
