.game-ranking {
  position: absolute;
  background: rgba(0,0,0);
  box-shadow: none;
  width: 420px;
  height: 100%;
  right: -420px;
  transition: right 1s, box-shadow 1.5s;
  z-index: 2;
}

.game-ranking.game-ranking--enabled {
  right: 0;
  transition: right 1s;
  box-shadow: -10px 0px 20px -10px rgba(200, 200, 200, 0.1);
}

.game-ranking__list {
  display: flex;
  flex-direction: column;
}

.game-ranking__list-column {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 20px 40px;
}

.game-ranking__list-column-name {
  font-size: 2.3rem;
}

.game-ranking__list-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

.game-ranking__list-item-player {
  font-size: 1.6rem;
  width: 16ch;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-ranking__list-item-score {
  font-size: 1.6rem;
}

@media (max-width: 420px) {
  .game-ranking {
    width: 100vw;
  }
  .game-ranking__list-column {
    padding: 40px 35px 20px 35px;
  }
}